<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="568"
    android:versionName="1.12.131"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="delivery.samurai.android"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="36"/>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <category android:name="android.intent.category.OPENABLE"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
        <intent>
            <action android:name="android.nfc.action.TECH_DISCOVERED"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <permission
        android:name="delivery.samurai.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="delivery.samurai.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="delivery.samurai.android.AndroidApp"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="delivery.samurai.android.ui.splash.SplashActivity"/>
        <activity android:name="delivery.samurai.android.ui.onboarding.TutorialActivity"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.common.LocationInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.auth.signup.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.withdraw.WalletTopUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.transfer.TransferCardListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.orders.note.ui.CustomerCallAssistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.auth.signup.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.resetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.changePassword.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.withdraw.WithdrawDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.auth.signin.presentation.NafathVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.envelop.EnvelopDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.envelop.EnvelopsListingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.shiftBookingV2.ShiftBookingListingActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.envelopV2.EnvelopsListingActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.envelopV2.EnvelopDetailActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.about.AccountQrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.areasV2.AreaListingActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.deeplink.DeepLinkEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="samuraicaptain"
                    android:host=""
                    android:pathPattern=".*"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.homev2.HomeActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.auth.signin.presentation.SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.orders.v2.ProcessOrderActivityV2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.chat.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar.Splash"
            android:name="delivery.samurai.android.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="delivery.samurai.android.ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Base.Theme.AppCompat"
            android:name="com.canhub.cropper.CropImageActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.support.AddSupportTicketActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.support.ZenDeskChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.zones.ZonesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.scanner.invoice.InvoiceScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.missingAttributes.AttributesMissingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.orders.note.ui.AddressNoteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.agreement.Agreement"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.assets.AssetsListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.assets.AssetsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="delivery.samurai.android.ui.orders.note.ui.AllAddressNoteActivity"
            android:windowSoftInputMode="adjustResize"/>
        <service
            android:name="delivery.samurai.android.services.CaptainLocationMonitoringService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="location"/>
        <receiver
            android:name="delivery.samurai.android.services.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="delivery.samurai.android.services.LocationServiceWatchdogReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="delivery.samurai.android.services.PackageReplacedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="delivery.samurai.android.notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_sound"
            android:resource="@raw/neworder"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/clevertap_account_id"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/clevertap_account_token"/>
        <provider
            android:name="com.canhub.cropper.CropFileProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.cropper.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/library_file_paths"/>
        </provider>
        <activity
            android:name="zendesk.support.request.RequestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:label="@string/request_list_activity_title"
            android:name="zendesk.support.requestlist.RequestListActivity"
            android:exported="false"/>
        <receiver
            android:name="zendesk.support.DeepLinkingBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="zendesk.support"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="zendesk.support.SupportSdkStartupProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="delivery.samurai.android.zendesk.support.SupportSdkStartupProvider"/>
        <activity
            android:theme="@style/Theme.Address"
            android:label="AddressEditActivity"
            android:name="com.checkout.address.ui.edit.AddressEditActivity"
            android:exported="false"/>
        <activity
            android:label="@string/zs_view_article_loading_title"
            android:name="zendesk.support.guide.ViewArticleActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:label="@string/support_activity_title"
            android:name="zendesk.support.guide.HelpCenterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <provider
            android:name="zendesk.support.guide.GuideSdkStartupProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="delivery.samurai.android.zendesk.support.GuideSdkStartupProvider"/>
        <activity
            android:name="zendesk.classic.messaging.MessagingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <provider
            android:name="com.clevertap.android.sdk.CleverTapFileProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.clevertap.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/clevertap_notification_file_paths"/>
        </provider>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="keyboardHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:name="com.clevertap.android.sdk.inbox.CTInboxActivity"
            android:configChanges="keyboardHidden"/>
        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.fcm.CTFirebaseMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter android:priority="-1">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.mlkitinitprovider"
            android:initOrder="99"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.checkout.components.redirecthandler.customtab.RedirectActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="cko-redirect"
                    android:host="redirect-callback"
                    android:pathPrefix="/delivery.samurai.android"/>
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <provider
            android:name="org.jetbrains.compose.resources.AndroidContextProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="delivery.samurai.android.resources.AndroidContextProvider"/>
        <provider
            android:name="zendesk.core.MediaFileProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.zendesk.sdk.user.attachments"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/zendesk_user_attachments"/>
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="okhttp3.internal.platform.PlatformInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="true"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="delivery.samurai.android.com.squareup.picasso"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
    </application>
</manifest>
